<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nordic.android.kosydpnfinal"
    android:versionCode="7"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/leglogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="no.nordicsemi.android.nrftemp.SplashscreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="no.nordicsemi.android.nrftemp.SensorsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        
         <activity  
         android:name="no.nordicsemi.android.nrftemp.starting_activity"  
         android:label="@string/app_name"
         android:screenOrientation="portrait"
         android:windowSoftInputMode="adjustPan"/>

        <receiver
            android:name="no.nordicsemi.android.nrftemp.StartPeriodicScanBroadcastReceiver"
            android:icon="@drawable/leglogo"
            android:label="@string/start_periodic_scan_br_label" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="no.nordicsemi.android.nrftemp.START" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="no.nordicsemi.android.nrftemp.StopPeriodicScanBroadcastReceiver"
            android:icon="@drawable/leglogo"
            android:label="@string/stop_periodic_scan_br_label" >
            <intent-filter>
                <action android:name="no.nordicsemi.android.nrftemp.STOP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="no.nordicsemi.android.nrftemp.ScanNowBroadcastReceiver"
            android:icon="@drawable/leglogo"
            android:label="@string/scaner_br_label" >
            <intent-filter>
                <action android:name="no.nordicsemi.android.nrftemp.SCAN" />
            </intent-filter>
        </receiver>
    </application>

</manifest>